.equipo-section{
  padding: 5em;
  .slick-next:before, .slick-prev:before{
    color: black;
  }
  .carrousel-item{
    text-align: center;
    img{
      width: 150px;
      border-radius: 100%;
      margin: 0px auto;
      margin-bottom: 1em;
    }
    a{
      font-size: 1.2em;
    }
  }
}