.objetivos{
  padding: 2em 8em;
  background-color: #1f1d2b;
  .wrapper{
    margin-bottom: 2em;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 90%;
    border-radius: 1em;
    background-color: #262645;
    .icon{
      width: 50px;
    }
    .title{
      font-size: 1.1em;
      font-weight: 600;
      margin-top: 1em;
      color: rgb(223, 223, 223);
    }
    .text{
      color: rgb(223, 223, 223);
    }
  }
}
@media (max-width: 500px){
  .objetivos{
    padding: 2em;
    .wrapper{
      width: 100%;
    }
  }
}