.quienes-somos{
  .content{
    padding: 7em 5em;
    background: linear-gradient(to right, #0c0c1f 0%, #00095e 100%);
    /* h1{
      color: rgb(219, 219, 219);
      font-size: 3.5em;
      margin-bottom: 25px;
    }
    p{
      color: white;
      font-size: 1.1em;
      line-height: 35px;
    } */
  }
  .image{
    background-image: url(https://img.freepik.com/free-photo/aerial-view-business-team_53876-124515.jpg?w=900&t=st=1678570843~exp=1678571443~hmac=d42089577cf0d88d4afe9046bf59ac3642b723f071e640ba66789f79f52cfe5f);
    background-size: cover;
    background-position: center;
  }
}