@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}
:root{
  --text-white: rgb(223, 223, 223);
  --bg-light: #262645;
  --bg-dark: #1f1d2b;
  --aqua: rgb(0, 196, 196);
  --text-dark: rgb(31, 31, 31);
  --text-light: rgb(68, 68, 68);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  color: black;
  text-decoration: none;
}
a:link{
  color: black;
}
a:hover{
  color: black;
}
li{
  list-style: none;
}
.section-title{
  color: var(--text-dark);
  text-align: center;
}
.section-subtitle{
  font-size: 1.1em;
  color: var(--text-light);
  text-align: center;
}